<%= form_with(model: company) do |form| %>
  <% if company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
        <% company.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="field mb-3">
    <%= form.label :branch_name, class: "form-label" %>
    <%= form.text_field :branch_name, class: "form-control" %>
  </div>

  <div class="field mb-3">
    <%= form.label :telephone, class: "form-label" %>
    <%= form.text_field :telephone, class: "form-control" %>
  </div>

  <div class="field mb-3">
    <%= form.label :address, class: "form-label" %>
    <%= form.text_field :address, class: "form-control" %>
  </div>

  <div class="field mb-3">
    <%= form.label :email, class: "form-label" %>
    <%= form.text_field :email, class: "form-control" %>
  </div>

  <div class="field mb-3">
    <%= form.label :business_hours, class: "form-label" %>
    <%= form.text_field :business_hours, class: "form-control" %>
  </div>

  <div class="field mb-3">
    <%= form.label :charges, class: "form-label" %>
    <%= form.text_field :charges, class: "form-control" %>
  </div>

  <div class="field mb-3">
    <%= form.label :main_type, class: "form-label" %>
    <%= form.text_field :main_type, class: "form-control" %>
  </div>

  <div class="field mb-3">
    <%= form.label :sub_type, class: "form-label" %>
    <%= form.text_field :sub_type, class: "form-control" %>
  </div>

  <div class="field mb-3">
    <%= form.label :company_no, class: "form-label" %>
    <%= form.text_field :company_no, class: "form-control" %>
  </div>

  <div class="field mb-3">
    <%= form.label :lat_lng, class: "form-label" %>
    <%= form.text_field :lat_lng, class: "form-control" %>
  </div>

  <div class="actions mb-3">
    <%= form.submit "Save", class: "btn btn-primary me-1" %> |
    <%= link_to 'Cancel', companies_path, class: "btn btn-outline-secondary ms-1" %>
  </div>
<% end %>
