<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Showing Company</h1>
</div>

<br>

<p>
  <strong>ID:</strong>
  <%= @company.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Branch name:</strong>
  <%= @company.branch_name %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @company.telephone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @company.address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @company.email %>
</p>

<p>
  <strong>Business hours:</strong>
  <%= @company.business_hours %>
</p>

<p>
  <strong>Charges:</strong>
  <%= @company.charges %>
</p>

<p>
  <strong>Main type:</strong>
  <%= @company.main_type %>
</p>

<p>
  <strong>Sub type:</strong>
  <%= @company.sub_type %>
</p>

<p>
  <strong>Company no:</strong>
  <%= @company.company_no %>
</p>

<p>
  <strong>Lat lng:</strong>
  <%= @company.lat_lng %>
</p>

<div class="actions mb-3">
  <%= link_to 'Edit', edit_company_path(@company), class: "btn btn-primary me-1" %> |
  <%= link_to 'Back', companies_path, class: "btn btn-outline-secondary ms-1" %>
</div>
