<!DOCTYPE html>
<html>
  <head>
    <title>Tmsind</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">    <meta name="theme-color" content="#7952b3">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="/">回首頁</a>
      <div class="navbar-text me-auto  px-3">
        <div class="text-light fs-4">臺北市運動產業業者名單</div>
      </div>
    </header>

    <div class="container-fluid">
      <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
          <div class="position-sticky pt-3">

          <% if params[:action] == 'index' %>
            <%= form_with(url: companies_path, method: :get, local: true, id: 'search-form') do %>
              <div class="field mx-2 mb-1">
                <%= label_tag :name, 'Name: ', class: "form-label" %>
                <%= text_field_tag :name, params[:name], class: "form-control form-control-sm" %>
              </div>
              <div class="field mx-2 mb-1">
                <%= label_tag :telephone, 'Telephone: ', class: "form-label" %>
                <%= text_field_tag :telephone, params[:telephone], class: "form-control form-control-sm" %>
              </div>

              <div class="field mx-2 mb-1">
                <%= label_tag :address, 'Address: ', class: "form-label" %>
                <%= text_field_tag :address, params[:address], class: "form-control form-control-sm" %>
              </div>
              <div class="field mx-2 mb-1">
                <%= label_tag :email, 'Email: ', class: "form-label" %>
                <%= text_field_tag :email, params[:email], class: "form-control form-control-sm" %>
              </div>

              <div class="field mx-2 mb-1">
                <%= label_tag :main_type, 'Main type: ', class: "form-label" %>
                <%= select_tag :main_type, options_for_select(all_main_types, params[:main_type]), include_blank: true, class: "form-select form-select-sm" %>
              </div>
              <div class="field mx-2 mb-1">
                <%= label_tag :sub_type, 'Sub type: ', class: "form-label" %>
                <%= select_tag :sub_type, options_for_select(all_sub_types, params[:sub_type]), multiple: true, include_blank: true, class: "form-control form-control-sm" %>
              </div>

              <div class="field mx-2 mb-1">
                <%= label_tag :company_no, 'Company no: ', class: "form-label" %>
                <%= text_field_tag :company_no, params[:company_no], class: "form-control form-control-sm" %>
              </div>

              <div class="actions mt-3 mx-1">
                <%= submit_tag("Search", class: "btn btn-primary float-end me-2") %>
                <%= link_to 'Clear', companies_path, class: "btn btn-outline-secondary float-end me-2" %>
              </div>
            <% end %>
          <% end %>

          </div>
        </nav>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
          <% if notice %>
            <div class="mt-3 alert alert-success d-flex align-items-center" role="alert">
              <%= notice %>
            </div>
          <% end %>
          <%= yield %>
        </main>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
  </body>
</html>
